.Name_And_Button_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  margin-left: 2rem;
  .Requester_Name {
    margin: 0;
    text-transform: capitalize;
    color: black;
  }
  .Request_Buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    .Accept_Request {
      width: 5rem;
      margin-right: 0.5rem;
      border: none;
      border-radius: 3px;
      outline-color: transparent;
      padding: 0.5rem 1rem;
      &:hover {
       background-color: rgb(156, 156, 163);
      }
     }
     .Delete_Request {
      width: 5rem;
      background-color: blue;
      border: none;
      color: white;
      border-radius: 3px;
      outline-color: transparent;
      padding: 0.5rem 1rem;
      &:hover {
       background-color: rgb(75, 75, 221);
       color: white;
      }
    }
  }
}
