.StoryContainer {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px solid gery;
  height: 10rem;
  margin-bottom: 1.5rem;
  .Story_Image_Container {
    width: 8rem;
    height: 10rem;
    margin-right: 0.5rem;
    .Story_Images {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
