// Pic Of The Post Creater
.Image_Input_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 0 0.8rem;
  .UserProfilePic {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 2rem;
  }
  .Name_And_Dots_Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
    height: 2rem;

    .Creater_Name {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      margin: 0;
    }

    .Edit_Container {
      position: relative;
      height: 0;
      .Three_Dots {
        cursor: pointer;
        margin: 0;
        height: 0;
      }
    }
  }
}
