.User_Photo_Posts {
  height: 20.5rem;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;

  .Title_Container {
    display: flex;
    justify-content: space-between;
    height: 1.5rem;

    .Header {
      margin: 0;
    }
  }
  .Image_Post_Container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    .Image_Post_Content {
      width: 5.9rem;
      height: 6rem;
      margin: 0.2rem;
      &:last-child {
        border-bottom-right-radius: 5px;
      }
      .Image_Post {
        display: block;
        max-width: 100%;
        max-height: 100%;

        // &:fi
      }
    }
  }
}
