.Friend_Suggest_Containet {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: rgba(43, 44, 44, 0.2) 0px 4px 8px 0px,
    rgba(43, 44, 44, 0.19) 0px 6px 20px 0px;

  .Friend_Suggest_Header {
    margin: 0;
    margin-bottom: 1rem;
  }

  .Suggest_Name_And_card {
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
      margin: 0.5rem;
    }

    .Messanger_Header {
      .Messanger_Text {
        margin: 0;
      }
    }
    .Friend_Suggest_Container {
      display: inline-block;
      border-radius: 10px;
      margin-right: 1rem;
      box-shadow: rgba(43, 44, 44, 0.2) 0px 4px 8px 0px,
        rgba(43, 44, 44, 0.19) 0px 6px 20px 0px;
      margin-bottom: 0.5rem;
    }
    .Suggest_Name_Button {
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      align-items: center;

      .Suggested_Person_Name {
        margin: 0;
        color: black;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
      }

      .Add_Friend_Button {
        display: flex;
        justify-content: space-evenly;
        width: 9rem;
        padding: 0.2rem;
        border-color: transparent;
        background-color: lavender;
        border-radius: 5px;
        &:focus {
          outline: none;
          outline-color: transparent;
        }

        &:hover {
          background-color: rgb(185, 185, 196);
        }
        .Add_Friend_Image_Container {
          width: 1rem;
          .Add_Image {
            display: block;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }

    .No_Friend_Suggestion {
      display: flex;
      height: 7rem;
      display: flex;
      padding-top: 5rem;
      text-align: center;
      margin: auto;
      font-size: 1.5rem;
      color: black;
      font-style: oblique;
    }
  }
}
