.CreatePostContainer {
  width: 35rem;
  .UserProfilePic {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 2.5rem;
  }

  .Photo_Description {
    width: 95%;
    height: 2rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: larger;

    &:focus {
      outline-color: none;
    }
  }

  .Pic_Preview_Container {
    width: 100%;
    margin: 0.5rem 0;
    .Post_Pic {
      display: block;
      max-width: 100%;
      max-height: 100%;
      border-radius: 15px;
    }
  }

  .Post_Text_Area {
    width: 25rem;
    height: 10rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    resize: none;
    &:focus {
      outline-color: none;
    }
  }

  .Post_Button {
    // display: flex;
    // border: 1px solid gray;
    border-radius: 5px;
    width: 25rem;
    height: 2rem;
    // justify-content: center;
    // text-align: center;
    // background-color: lavender;
    // font-weight: bold;
  }
}
