.CreatePostContainer {
  position: relative;
  justify-content: center;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;

  .Create_Post_Title_Container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    height: 2rem;

    .Title_Text {
      margin: 0;
      flex: 1 1;
      text-align: center;
    }
  }

  .Create_Post_Profile_Pic {
    display: flex;
    padding: 0.5rem 0 0 0.5rem;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .Form_Container {
    padding: 0.5rem;
  }
}
