.Cover_Drop_Container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: -6.1rem;
  right: 2rem;
  background-color: white;
  width: 14rem;
  height: 6rem;
  padding: 0.2rem;
  border-radius: 10px;
  transition-delay: 0.5s;
  cursor: pointer;
  padding: 0.5rem;
}

.Select_Photo_Container {
  display: flex;
  margin: 0;
  align-items: center;
  .Select_Photo_Content {
    width: 1.5rem;

    .Select_Photo {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .File_Text {
    margin: 0;
    padding-left: 1rem;
    font-weight: 400;
  }
}

.Upload_Photo {
  display: flex;
  align-items: center;
  // justify-content: center;
  margin: 0;
  .Upload_text {
    margin: 0;
    padding-left: 1rem;
    font-weight: 400;
  }
}
