.Input_Container {
  position: relative;
  width: 2rem;

  .Icon_Content {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .Activity_Icons_Photo {
    opacity: 0;
    width: 10rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    cursor: pointer;
  }

  .Activity_Icons_Photo::-webkit-file-upload-button {
    visibility: hidden;
    opacity: 0;
  }
}
