@keyframes leftToRight {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes leftToRight_Two {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

.Skeleton_Image_Container {
  margin: 1.5rem 0;
  border-radius: 10px;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;

  &:hover {
    background-color: rgba(221, 221, 230, 0.479);
    border-radius: 10px;
  }
  .Single_Post_Skeleton_Container {
    transform: translate(100%);
    animation: 1s leftToRight linear infinite;
    width: 100%;
    height: 10%;
  }

  .Single_Post_Skeleton_Container_Two {
    transform: translate(100%);
    animation: 1.5s leftToRight_Two linear infinite;
    width: 100%;
    height: 10%;
  }
  .Skeleton_Indicator {
    width: 100%;
    margin-top: 0.5rem;
    height: 100%;
    border-radius: 10px;
    background: rgb(9, 121, 114);
    background: -moz-linear-gradient(
      138deg,
      rgba(230, 235, 234, 0.452) 0%,
      rgba(224, 217, 224, 0.623) 27%,
      rgba(197, 201, 224, 0.596) 91%
    );
    background: -webkit-linear-gradient(
      138deg,
      rgba(215, 221, 221, 0.628) 0%,
      rgba(238, 234, 238, 0.548) 27%,
      rgba(197, 201, 224, 0.507) 91%
    );
    background: linear-gradient(
      138deg,
      rgba(181, 190, 190, 0.397) 0%,
      rgba(231, 224, 231, 0.39) 27%,
      rgba(228, 229, 235, 0.534) 91%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#097972",endColorstr="#c5c9e0",GradientType=1);
  }
}
