.ChatContainer {
  width: 30rem;
  .Contacts_Container_Header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    color: gray;
    margin-right: 1rem;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
