.User_Creates_Photos_Container {
  position: relative;
  width: 42%;
  height: 100%;
  // .User_Created_Photos_Relative {
  // }

  .User_Photo_Sticky {
    position: fixed;
    top: -2rem;
    width: 20.9rem;
  }
}
