.All_Post_Container {
  // height: 50vh;
  // overflow-y: scroll;
  // width: 100%;
  color: black;
  .Single_Post_Container {
    margin: 1.5rem 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 100%;
    // height: 30rem;

    .Single_Post_Content {
      text-align: center;
      width: 100%;
      height: 24rem;

      .Center_Post_Text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15rem;
        margin: 0;
        padding: 0.5rem;
        .Single_Post_Text {
          font-size: 1.5rem;
          margin: 0;
          width: 100%;
          padding: 1rem;
          line-height: 2.5rem;
        }
      }
    }
    .Comments_Container {
      padding: 0.5rem;
    }
  }
}

