.MainPageContainer{
 position: relative;
 background-color: darkgoldenrod;
 width: 60rem;
 display: flex;
 flex-direction: column;
 padding-top: 3rem;
 align-items: center;
 color: gray;

 .MainPageChildContainer{
  width: 47rem;
 }
}