.MainPageContainer{
 position: relative;
 width: 100%;
 display: flex;
 flex-direction: column;
 padding-top: 1rem;
 align-items: center;
 color: gray;
 overflow-y: scroll;
 &::-webkit-scrollbar{
  width: 0;
 }

 .MainPageChildContainer{
  width: 47rem;
 }
}