@keyframes leftToRight {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes leftToRight_Two {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes leftToRight_Three {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes leftToRight_Four {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes leftToRight_Five {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes leftToRight_Six {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes leftToRight_Seven {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes leftToRight_Eight {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}

.All_Post_Skeleton_Container {
  margin: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0.301);
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  position: relative;
  &:hover{
    background-color: rgb(215, 215, 224);
  }
  .Single_Post_Skeleton_Container {
    transform: translate(100%);
    animation: 1s leftToRight linear infinite;
    width: 100%;
    height: 5%;
  }

  .Single_Post_Skeleton_Container_Two {
    transform: translate(100%);
    animation: 1.5s leftToRight_Two linear infinite;
    width: 100%;
    height: 10%;
  }

  .Single_Post_Skeleton_Container_Three {
    transform: translate(100%);
    animation: 2s leftToRight_Three linear infinite;
    width: 100%;
    height: 8%;
  }

  .Single_Post_Skeleton_Container_Four {
    transform: translate(100%);
    animation: 1s leftToRight_Four linear infinite;
    width: 100%;
    height: 5%;
  }

  .Single_Post_Skeleton_Container_Five {
    transform: translate(100%);
    animation: 1.5s leftToRight_Five linear infinite;
    width: 100%;
    height: 10%;
  }

  .Single_Post_Skeleton_Container_Six {
    transform: translate(100%);
    animation: 2s leftToRight_Six linear infinite;
    width: 100%;
    height: 7%;
  }

  .Single_Post_Skeleton_Container_Seven {
    transform: translate(100%);
    animation: 1s leftToRight_Seven linear infinite;
    width: 100%;
    height: 9%;
  }

  .Single_Post_Skeleton_Container_Two_Eight {
    transform: translate(100%);
    animation: 1.5s leftToRight_Eight linear infinite;
    width: 100%;
    height: 7%;
  }

  .Skeleton_Indicator {
    width: 100%;
    margin-top: 0.5rem;
    height: 100%;
    border-radius: 10px;
    background: rgb(9, 121, 114);
    background: -moz-linear-gradient(
      138deg,
      rgba(230, 235, 234, 0.452) 0%,
      rgba(224, 217, 224, 0.623) 27%,
      rgba(197, 201, 224, 0.596) 91%
    );
    background: -webkit-linear-gradient(
      138deg,
      rgba(215, 221, 221, 0.628) 0%,
      rgba(238, 234, 238, 0.548) 27%,
      rgba(197, 201, 224, 0.507) 91%
    );
    background: linear-gradient(
      138deg,
      rgba(181, 190, 190, 0.397) 0%,
      rgba(231, 224, 231, 0.39) 27%,
      rgba(228, 229, 235, 0.534) 91%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#097972",endColorstr="#c5c9e0",GradientType=1);
  }
}
