.Friend_Suggest_Image {
  // width: 7rem;
  .Friend_Suggest_Person {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
