.Post_Edit_options {
  position: absolute;
  background-color: white;
  right: 0rem;
  width: 18rem;
  height: 11rem;
  top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .Post_Edit_Header {
    margin: 0;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .Icon_Text_Container {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    height: 2.3rem;
    cursor: pointer;
    .Icon_Content {
      width: 2rem;
      margin-bottom: 1rem;
      .Edit_Icon {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .Edit_Text {
      margin: 0;
      padding-left: 1rem;
      padding-bottom: 1rem;
      &:hover{
        color: blue;
      }
    }
  }
}
