.Add_Comment {
  display: flex;
  margin: 0.5rem;

  .LoggedIn_User {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
  .Comment_Input {
    width: 95%;
    height: 2.2rem;
    border: none;
    border-radius: 5rem;
    background-color: lavender;
    padding-left: 1rem;
  }
}
