.NavBar_Container {
  display: flex;
  margin: 0;
  align-items: center;
  height: 3rem;
  background-color: white;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  .LogoContainer {
    display: flex;
    height: 2rem;
    text-decoration: none;
    .Logo_Content {
      width: 2rem;

      .Fakebook_Logo {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .Nav_Search_Container {
      padding-left: 0.5rem;
      .Nav_Search {
        border: none;
        border-radius: 15px;
        height: 100%;
        width: 13rem;
        background-color: whitesmoke;
        padding: 0 0.5rem;
      }
    }
  }

  .NavBar_Content {
    display: flex;
    justify-content: center;
    .NavBar {
      .NavBarUL {
        list-style: none;
        text-decoration: none;
        display: flex;
        .NavBarLI {
          padding: 1rem 5rem;
          .active{
            background-color: red;
          }
          // .active {
            // color: blue;
            .Logo_Content {
              width: 2rem;

              .Fakebook_Logo {
                display: block;
                max-width: 100%;
                max-height: 100%;
              }
            }
          // }
        }
      }
    }
  }
}
