.User_Profile_And_Cover {
  position: relative;
  width: 100%;
  background-image: url("../../../Assets/images/showcase.jpg");
  background-size: cover;
  height: 20rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  .Change_Cover_Button {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }


}

.User_Name_Container {
  text-align: center;
  .User_Name {
    margin: 0.5rem 0;
    &:first-child {
      margin-top: 2rem;
    }
  }
}
