.User_Profile_And_Cover {
  position: relative;
  width: 100%;
  background-image: url("http://localhost:3000/users/5f62f9e724958334a332b21c/cover");
  background-size: cover;
  height: 20rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  .Change_Cover_Button {
    position: absolute;
    bottom: 1rem;
    right: 2rem;

    .Button {
      display: flex;
      cursor: pointer;
      .Button_Camera {
        width: 1rem;
        padding-right:0.5rem;
        .Drop_Down_Camera {
          display: block;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .Profile_Pic_Container {
    position: relative;
    top: 52%;
    left: 40%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    .Profile_Pic_Camera {
      position: absolute;
      bottom: 0;
      font-style: inherit;
      right: 0.5rem;
      border: 0.3rem solid rgb(219, 214, 214);
      background-color: rgb(240, 227, 227);
      border-radius: 50%;
      cursor: pointer;
      .Profile_Camera_Container {
        width: 1.5rem;
        .Profile_Camera_Icon {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

.User_Name_Container {
  text-align: center;
  .User_Name {
    margin: 0.5rem 0;
    text-transform: capitalize;
    &:first-child {
      margin-top: 2rem;
    }
  }
}
