.Reaction_Count {
  display: flex;
  padding: 0.5rem;
  .Thumbs_Up_Container {
    width: 1.5rem;
    padding-right: 0.5rem;
    .Thumbs_Up {
      display: block;
      max-width: 100%;
      max-width: 100%;
    }
  }
  .Comment_People {
    display: flex;
    width: 100%;
    padding: 0 0.5rem;
    justify-content: space-between;
  }
}
