.Friend_Request_Container {
  display: flex;
  .Friend_Request_Logo {
    width: 1.5rem;
    .Request_Logo {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .Count_Text_Container {
    // display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    .Count_Text {
      margin: 0;
      padding-left: 1rem;
      justify-content: center;
    }
  }
}
.Request_Count {
  margin: 0;
  display: flex;
  color: blue;
  margin-top: -0.5rem;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  .Dot {
    margin-top: 0.2rem;
    width: 0.4rem;
    height: 0.4rem;
    background-color: blue;
    border-radius: 50%;
    justify-content: center;
    margin-right: 0.4rem;
  }
}
