.Post_Text{
  width: 100%;
  text-align: left;
  margin: 5px 0;
  padding-left: 1rem;
  font-weight: lighter;
}

.Center_Post_Pic {
 height: 23rem;
 width: 100%;
 position: relative;
 
 .Center_Post_Pic_Background {
   position: absolute;
   height: 23rem;
   width: 100%;
   background-size: cover;
   filter: blur(3px);
   -webkit-filter: blur(3px);
 }
 .Single_Post_Photo {
   max-width: 100%;
   max-height: 100%;
   filter: blur(0);
   z-index: 100;
 }
}