.Post_Text_Area {
  width: 99%;
  height: 10rem;
  border: none;
  outline: none;
  font-size: 1.4rem;
  resize: none;
  &:focus {
    outline-color: none;
  }
}

.Words_Left_Container {
  margin: 0;
}
