.Intro_Container {
  // width: 90%;
  height: 9rem;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;

  .Header {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;

    &:last-child{
     font-weight: 300;
    }
  }

  .Button_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;

    .Button {
      height: 2rem;
    }
  }
}
