/* The Close Button */
.Close_Button_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  .close {
    color: rgb(146, 135, 135);
    float: right;
    font-size: 2rem;
    background-color: rgb(241, 238, 235);
    border-radius:50%;
    width: 2rem;
    text-align: center;
  }

  .close:hover,
  .close:focus {
    color: rgba(110, 106, 106, 0.966);
    text-decoration: none;
    cursor: pointer;
  }
}
