.Add_Post_Container {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-left: 0.5rem;
 border: 1px solid gray;
 height: 2.5rem;
 border-radius: 5px;
 justify-content: space-between;
 margin-bottom: 0.5rem;
 color: rgb(44, 41, 41);
}